<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %} Title {% endblock title %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
   
    <a href="{% url 'index' %}">Home</a> |
    <a href="{% url 'sobre' %}">Quem Somos</a> |
    <a href="{% url 'contato' %}">Contato</a> |
    <a href="{% url 'ajuda' %}">Ajuda</a> 



    <h1>{% block título_pagina %} Título da Página {% endblock título_pagina %}</h1>

    {% block conteudo %}{% endblock conteudo %}

    
</body>

</html>