{% extends 'base.html' %}

{% block titulo %} Listagem de Produtos {% endblock titulo %}

{% block conteudo  %} 

 <button onclick="location='{% url "form_produto" %}'" class="btn btn-primary mb-4" type="button"> Novo Produto </button>

 
 <table class="table table-bordered table-hover mx-auto">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor (R$)</th>
            </tr>
        </thead>
        <tbody>
          {% for item in lista %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.preco }}</td>
            </tr>
          {% endfor %}
        </tbody>
 </table>



{% endblock  %}
